#include <windows.h>
#include "../common/version.h"

IDI_ICON1    ICON    DISCARDABLE    "../../data/images/icon.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION UPLOADER_VERSION_RC
  PRODUCTVERSION UPLOADER_VERSION_RC
  FILEFLAGSMASK 0x17L
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE 0x0L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "000004b0"
      BEGIN
        VALUE "CompanyName",      UPLOADER_ORGANIZATION
        VALUE "FileDescription",  "BitTorrent Uploader - cross-platform client for torrent-tracker"
        VALUE "FileVersion",      UPLOADER_VERSION
        VALUE "LegalCopyright",   UPLOADER_COPYRIGHT
        VALUE "OriginalFilename", "uploader.exe"
        VALUE "ProductName",      UPLOADER_NAME
        VALUE "ProductVersion",   UPLOADER_VERSION
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x0, 1200
    END
  END

